body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial;
    text-align: center;

    .people {
        padding: 30px 0;
        display: grid;
        justify-content: center;
        grid-template: repeat(3, 231px) / repeat(4, 200px);
        grid-gap: 40px 30px;
        position: relative;

        .person {
            width: 200px;
            font-size: 18px;
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;

            .photo {
                width: 200px;
                height: 200px;
                transition: width 1s, height 1s linear;
                
                img {
                    width: 100%;
                    border-radius: 50%;
                    transition: width 1s, height 1s, border-radius 1s linear;
                }

                .rank {
                    position: absolute;
                    right: 20px;
                    top: 94px;
                    background: #fff;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    font-size: 16px;
                    color: #8B0000;
                    line-height: 32px;
                    font-weight: bold;
                }
            }

            .details {
                margin-top: 8px;

                a {
                    text-decoration: none;
                    color: #2f4f4f;
                    font-weight: bold;
                    font-size: 20px;
                    transition: font-size 1s linear;
                }

                .extra {
                    display: none;
                    margin-top: 9px;
                    transition: font-size 1s linear;
                    transition-delay: .5s;

                    .sport::after {
                        content: ",";
                    }

                    .pay::before {
                        content: "$";
                    }

                    .pay::after {
                        content: "M";
                    }
                }
            }

            &:hover {
                cursor: pointer;
                width: 220px;
                padding: 10px;
                background: #eee;
                border-radius: 10px;
                position: relative;
                z-index: 1;
                animation: hover-card 1s linear forwards;

                .photo {
                    width: 240px;
                    height: 240px;

                    img {
                        width: 240px;
                        height: 240px;
                        border-radius: 60px;
                    }

                    .rank {
                        top: 113px;
                        right: 25px;
                    }
                }

                a {
                    font-size: 24px;
                }

                .extra {
                    display: block;
                    font-size: 21.5px;
                }
            }
        }

        @media (max-width: 750px) {
            grid-template: repeat(5, 231px) / repeat(2, 200px);
        }
    }
}

@keyframes hover-card {
    from {
        border-radius: 10px;
        height: 287px;
    }

    to {
        width: 264px;
        height: 344.4px;
        border-radius: 12px;
        padding: 12px;
        margin-top: -20px;
        margin-left: -32px;
    }
}

